html {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    margin: 0px;
}

.title {
    font-family: 'AnkaCoderCondensedRegular';
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.subt {
    font-family: 'AnkaCoderCondensedRegular';
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

#nav {
    list-style: none;
}

#nav li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: black;
}

h3 {
    font-family: 'AnkaCoderCondensedRegular';
    font-weight: lighter;
    font-style: normal;
    text-align: left;
    text-decoration: underline;
}

p {
    font-family: 'AnkaCoderCondensedRegular';
    font-weight: lighter;
    font-style: normal;
    text-align: left;
}

h2 {
    font-family: 'AnkaCoderCondensedRegular';
    font-weight: bold;
    font-style: normal;
    text-align: left;
    text-decoration: underline;
}

#content {
    margin: 30px;
}

#code {
    margin: 50px 0px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

/* Dark Mode js*/ 

.dark {
    background-color: rgb(16, 16, 16);
    color: rgb(251, 251, 251);
}

.dark header {
    background-color: rgb(30, 30, 30);
}

.dark a {
    color: rgb(251, 251, 251);;
}

.dark img {
    background-color: whitesmoke;
}

.dark footer {
    background-color: rgb(30, 30, 30);
}

/*light mode js*/

.light {
    background-color: white;
    color: black;
}

.light header {
    background-color: whitesmoke;
}

.light a {
    color: black;
}

.light img {
    background-color: whitesmoke;
}

.light footer {
    background-color: whitesmoke;
}

/*dark mode css*/

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(16, 16, 16);
        color: rgb(251, 251, 251);
    }

    header {
        background-color: rgb(30, 30, 30);
    }

    a {
        color: rgb(251, 251, 251);;
    }

    img {
        background-color: whitesmoke;
    }

    footer {
        background-color: rgb(30, 30, 30);
    }
}

/*light mode css*/

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }

    header {
        background-color: whitesmoke;
    }

    a {
        color: black;;
    }

    img {
        background-color: whitesmoke;
    }

    footer {
        background-color: whitesmoke;
    }
}