html {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: rgba(255, 255, 255, 0.703);
    background-color: black;
}

.title {
    font-family: 'AnkaCoderCondensedRegular';
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.subt {
    font-family: 'AnkaCoderCondensedRegular';
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 26, 26);
    position: sticky;
    top: 0px;
}

#nav {
    list-style: none;
}

#nav li {
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    color: white;
}

#nav a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

h3 {
    font-family: 'AnkaCoderCondensedRegular';
    font-weight: lighter;
    font-style: normal;
    text-align: left;
    text-decoration: underline;
}

p {
    font-family: 'AnkaCoderCondensedRegular';
    font-weight: lighter;
    font-style: normal;
    text-align: left;
}

h2 {
    font-family: 'AnkaCoderCondensedRegular';
    font-weight: bold;
    font-style: normal;
    text-align: left;
    text-decoration: underline;
}

#content {
    margin: 30px;
}

#code {
    margin: 50px 0px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 26, 26);
    position: sticky;
    top: 0px;
}