.title {
    font-family: 'AnkaCoderCondensedRegular';
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.subt {
    font-family: 'AnkaCoderCondensedRegular';
    font-weight: normal;
    font-style: italic;
    text-align: center;
}